* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0069C4;
    margin-bottom: 50px;
    box-shadow: 0px 3px 5px 0px #000; 
}

body {
    background-color: #f9f9f9;
}

text {
	font: 12px sans-serif;
}

svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1 {
    color: #f9f9f9;
    padding: 20px 0;
	text-align: center;
    font-family: sans-serif;
}

h2 {
    font-size: 18px;
}

h2::before {
	content : '– ';
}

h2::after {
	content : ' –';
}

.bar {
    fill: #0069C4;
}

.bar:hover {
    fill: #3C3C3C;
    transition: 0.5s;
    border: 10px solid #3C3C3C;
}

.links-div {
    margin: auto;
    display: flex;
    flex-flow: row;
    width: 75%;
    padding: 20px;
}

.single-link {
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: #f9f9f9;
    background-color: rgb(120, 20, 23);
    cursor: pointer;
    border: 1px solid #f9f9f9;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

div.tooltip {
    font-size: 16px;
    color: #fff;
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 600px;
    height: auto;
    padding: 10px;
    background: #000;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 5px 5px 5px 0px #696969;
}

div.tooltip>* {
    margin: 10px auto;
}
